* { margin:0; padding:0 }

html, body {
	width:100%;
	height:100%;
}

a:hover {
	-webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
    transition:none;
}

body {
	font-size: 92%;
	line-height:160%;
	font-family: Helvetica, Arial, sans-serif;
	color:#000;
	font-weight:400;
	text-align: left; 
}

/* generic styles */

a.ico-external {
	background-position:right 5px;
}

h1, h2, h3, h4, h5, h5, header nav ul li {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	text-align:left;
}

p {
	font-size:1.6em;
	line-height:160%;
	margin:10px 0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2c2c2c;
	font-weight: 100;
	letter-spacing: 1px;
}

.secondary p {
	font-weight:200;
	color:#fff;
}

.bubble {
	border-radius:30px !important;
	-webkit-border-radius:30px !important;
	-moz-border-radius:30px !important;
	color:rgba(255, 255, 255, 0.5);
	height:100px !important;
	padding:40px;
}

.full-circle {
	height: 200px;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	width: 200px;
	text-align:center;
	font-weight:400;
	color:#fff;
}

.ribbon {
	z-index:999;
	overflow:hidden;
}

/* header styles */
header h1 {
	margin:20px 0 5px 0;
	padding:0;
}

header h1 a, header h1 a:link, header h1 a:visited {
	text-decoration:none;
	color:#000;
}

header.top {
	width:100%;
	position:fixed;
	top:0;
	z-index:99;
}

header.top h1 {
	float: left;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left 0px;
	padding: 15px 0 0 55px;
	margin:10px;
	height:50px;
}

header.top nav {
	position:absolute;
	right:20%;
	bottom:5px;
}

header.top nav ul li {
	float:left;
	padding:10px 5px;
}

header.top nav li a:link {
	display:block;
	padding:5px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-decoration:none;
}

#main {
	position:relative;
	width:100%;
	height:100%;
}

/* page styles */

.page {
	position:relative;
	height:100%;
	padding:70px 20px;
	float:left;
	width:100%;
	overflow:hidden;
}

.secondary {
	min-height:100%;
	overflow:visible;
}

.page .page-content-wrapper {
	width:80%;
	max-width:1200px;
	margin:2% auto;
	overflow:auto;
}

.secondary .page-content-wrapper {
	margin-top:6%;
}

.page-content {
	width:100%;
	margin:3% auto;
	overflow:auto;
}

.page ul.tagcloud {
	list-style-type:none;
	width:800px;
	height:50px;
}

.page ul.tagcloud li {
	float:left;
	color:#fff;
	padding:10px;
}

.page ul.git-members {
	list-style-type:none;
	width:800px;
	height:50px;
}

.page ul.git-members li {
	float:left;
	color:#fff;
	padding:10px;
}

.page ul.git-members li img {
	background-color:#f1f1f1;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:5px;
}

footer {
	width:100%;
}

/* page specific styles */

#home h2 {
	text-align:center;
	text-transform:none;
	font-size:2.5em;
	margin:50px auto;
}

#home ul.section-buttons {
	width:750px;
	height:200px;
	list-style-type:none;
	margin:50px auto 0 auto;
	text-align:center;
	padding:0;
}

#home ul.section-buttons li a {
	float:left;
	width:170px;
	height:170px;
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	border-radius:85px;
	-moz-border-radius:85px;
	-webkit-border-radius:85px;
	margin-right:100px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
}

ul.section-buttons li a {
	-webkit-transition: all .1s ease-in .2s;
    -moz-transition: all .1s ease-in .2s;
    -o-transition: all .1s ease-in .2s;
    -ms-transition: all .1s ease-in .2s;
    transition: all .1s ease-in .2s;
}

#home ul.section-buttons li a:hover {
	-webkit-box-shadow: inset 1px 1px 50px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 1px 1px 50px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 1px 1px 50px 0px rgba(255, 255, 255, 0.5);
	-webkit-transform:scale3d(1.2, 1.2, 1);
    -moz-transform:scale3d(1.2, 1.2, 1);
    -o-transform:scale3d(1.2, 1.2, 1);
    -ms-transform:scale3d(1.2, 1.2, 1);
    transform:scale3d(1.2, 1.2, 1);
}

#home ul.section-buttons li#steal-button a {
	background-color:#f259a7;
}

#home ul.section-buttons li#meet-button a {
	background-color:#62bae4;
}

#home ul.section-buttons li#collab-button a {
	background-color:#e3ba40;
	margin-right:0;
}

#home ul.section-buttons li a span {
	display:block;
	background:url(../img/icons.png) no-repeat;
	width: 170px;
	height: 170px;
	padding-top:120px;
}

#home ul.section-buttons li#steal-button a span {
	background-position:0 0;
}

#home ul.section-buttons li#meet-button a span {
	background-position:-222px 0;
}

#home ul.section-buttons li#collab-button a span {
	background-position:-450px 0;
}

#home .tagline {
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	font-weight:400;
	padding-top:2%;
	text-align:center;
}

.secondary .tagline {
	font-size:1.8em;
	font-family: 'Open Sans', sans-serif;
	line-height:120%;
	font-weight:100;
	position:absolute;
	color:rgba(255, 255, 255, .3);
	left:5%;
	bottom:50px;
}

.secondary cite {
	font-style:normal;
	color:rgba(255, 255, 255, .4);
	font-size:.7em;
	font-weight:400;
}

.secondary h2 {
	position:absolute;
	top:20%;
	left:5%;
	margin: 0 auto;
	text-align:center;
	font-size:12em;
	color:rgba(255, 255, 255, .1);
}

.secondary .page-content {
	width:100%;
	padding:20px;
	overflow:auto;
}

@media screen and (max-width: 580px) {
	
html, body {
	width:100%;
	height:auto;
}	

.ribbon {
	display:none;
}
	
header h1 {
	float: left;
	padding: 10px 0 0 45px;
	margin:10px;
	height:40px;
	font-size:0em;
}

header nav {
	position:absolute;
	right:5px;
}

header nav ul li {
	float:left;
	padding:15px 2px;
}

header nav li a:link {
	display:block;
	padding:2px 5px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-decoration:none;
}

/* page styles */

.page {
	float:none;
	padding:70px 20px 20px 20px;
}

.page .page-content-wrapper {
	width:100%;
	margin:10px auto;
}

.page .page-content {
	width:100%;
}

/* page specific styles */

#home .tagline {
	font-size:1.2em;
	font-weight:600;
}

.page {
	float:none;
	padding:70px 20px 20px 20px;
}

.page.secondary {
	float:none;
	padding:20px;
}

.secondary .tagline {
	font-size:1.3em;
	line-height:120%;
	font-weight:600;
	position:absolute;
	color:rgba(255, 255, 255, .3);
	left:5%;
	bottom:50px;
}

.secondary h2 {
	position:relative;
	margin: 0 auto;
	text-align:left;
	font-size:5em;
	color:rgba(255, 255, 255, .2);
}

}

@media screen and (max-width: 1024px) {
	
.full-circle {
	height: 150px;
	border-radius:75px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
 	width: 150px;
	text-align:center;
	font-weight:400;
	color:#fff;
}

.page h3 {
	font-size:2em;
	margin:auto;
}	
}

