@charset "UTF-8";
/* CSS Document */
/* themes */

body.light { 
	background-color:#ccc; 
}

.light a:hover { 
	color:#999; 
}

.light header { 
	background-color:rgba(240, 240, 240, .7); 
}

.light header nav li a:link, .light header nav li a:visited { 
	background-color:rgba(255,255,255,0.9); 
	color:#336699; 
}

.light header nav li a:hover, .light header nav li a.selected { 
	background-color:rgba(0,0,0,0.3); 
	color:#fff; 
}

/* colors */

.bg1 {
	background-color:#fff;
	
}

.bg2 {
	/* background-color:rgba(255, 153, 102, 1); */
	background-color:rgba(237, 19, 129, 1);
	
}

.bg3 {
	/* background-color:rgba(51, 255, 204, 0.7); */
	/* background-color:rgba(52, 169, 161, 0.7); */
	background-color:rgba(98, 186, 228, 0.7);
	
}

.bg4 {
	background-color:rgba(246, 155, 0, 0.7);
	
	
}

